@{
    ViewBag.Title = Model.name;
}

@model CocktailRecipeLookup.Models.Ingredient

<div class="row">
    <h3>@Model.name</h3>
    <div class="col m8">
        <p>@Model.description</p>
    </div>
    <div class="col m3 offset-m1">
        <p>
            Alcoholic:  
            @if (Model.isAlcoholic)
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </p>
        <p>
            Type:  @Model.type
        </p>
    </div>
</div>

