<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* Materialize/CSS *@
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.css" rel="stylesheet" type="text/css" />
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
    @* jQuery *@
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    @* Materialize JS *@
    <script src="~/js/materialize.js"></script>
    <script src="~/js/materialize-jquery.js"></script>
</head>
<body>
    @* Side nav for hamburger *@
    <ul class="side-nav" id="hamburger">
        <li><a asp-controller="Drinks" asp-action="UseAvailableIngredients">Use What's Available</a></li>
    </ul>
    @* Drop down for search *@

    <header>
        <div class="navbar-fixed">
            <nav class="grey lighten-3">
                @* Set Navbar Color *@
                <div class="nav-wrapper">
                    <a asp-controller="Home" asp-action="Index" class="brand-logo left">Spirit Quest</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a asp-controller="Drinks" asp-action="UseAvailableIngredients">Use What's Available</a></li>
                    </ul>
                    <a href="#" data-activates="hamburger" class="button-collapse right grey-text text-darken-2"><i class="material-icons">menu</i></a>
                    <ul class="right">
                        <li>
                            <a id="toggle-search" href="#!">
                                <i class="material-icons grey-text text-darken-2">search</i>
                            </a>
                        </li>
                    </ul>
                    @*<form class="right" asp-controller="Drinks" asp-action="Search">
                            <div class="input-field">
                                <input id="search" type="search" name="query" placeholder="Search by drink name...">
                                <label class="label-icon" for="search"><i class="material-icons grey-text text-darken-2">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>*@
                </div>
                <div id="search" class="row white-text grey darken-3">
                    <div class="container">
                        <form asp-controller="Home" asp-action="Search">
                            <input class="form-control" type="text" placeholder="Search ..." name="query">
                            <input name="SearchType" type="radio" id="search-drinks" value="drinks" checked/>
                            <label for="search-drinks">Drinks</label>
                            <input name="SearchType" type="radio" value="ingredients" id="search-ingredients" />
                            <label for="search-ingredients">Ingredients</label>
                            <button class="right btn waves-effect waves-light" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="~/img/cocktails.jpeg"></div>
        </div>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
        <br />
    </main>
    <footer class="page-footer grey lighten-3">
        <div class="container">
            <div class="row">
                <div class="col m4 s12">
                    <h5 class="grey-text text-darken-2">About the site</h5>
                    <p class="grey-text text-darken-2">Created using ASP.NET Core and <a class="grey-text text-darken-2" href="https://addb.absolutdrinks.com/docs/">Absolut Drinks Database API (ADDb)</a></p>
                </div>
                <div class="col m4 offset-m4 s12">
                    <h5 class="grey-text text-darken-2">Cocktail Resources</h5>
                    <ul>
                        <li><a class="grey-text text-darken-2" href="http://imbibemagazine.com/category/recipes/cocktails-spirits-recipes/">Imbibe Magazine</a></li>
                        <li><a class="grey-text text-darken-2" href="https://drinkstraightup.com/">The Straight Up</a></li>
                        <li><a class="grey-text text-darken-2" href="http://www.tuxedono2.com/">Tuxedo No. 2</a></li>
                        <li><a class="grey-text text-darken-2" href="http://www.seriouseats.com/recipes/topics/meal/drinks/cocktails">Serious Eats</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey lighten-3">
            <div class="container">
                <span class="grey-text text-darken-2">© 2017 Erik Killops</span>
            </div>
        </div>
    </footer>
</body>
</html>