@{
    ViewBag.Title = "Home - Index";
}

<br />
<br />
<h1 id="title">Spirit Quest</h1>

<div class="row center">
    <h4 id="sub-title">Discover the perfect cocktail recipe, using only what you have on hand.</h4>
</div>
<br />
<div class="row center">
    <a class="center btn-large waves-effect waves-light" asp-controller="Drinks" asp-action="UseAvailableIngredients">Find Recipes</a>
</div>