@{
    ViewBag.Title = "Custom Search";
}

@using CocktailRecipeLookup.Models
@model List<Ingredient>

<h3>Discover Recipes</h3>

<p>Select your available ingredients from the lists below. Pressing Custom Search will give multiple search options. See help for definitions.</p>
<br />
<div class="row">
    <form id="drinkSearch">
        <div class="input-field">
            <select id="baseSpirits" multiple>
                <option disabled>Select base spirits</option>
                @foreach (var ingredient in Model)
                {
                    @if (ingredient.isBaseSpirit == true && !ingredient.id.Contains("absolut"))
                    {
                        <option value="@ingredient.id">@ingredient.name</option>
                    }
                }
            </select>
            <label>Base Spirits</label>
        </div>
        <br />
        <div class="input-field">
            <select id="ingredients" multiple>
                <option disabled>Select ingredients</option>
                @foreach (var ingredient in Model)
                {
                    @if (ingredient.isBaseSpirit == false && !ingredient.id.Contains("absolut"))
                    {
                        <option value="@ingredient.id">@ingredient.name</option>
                    }
                }
            </select>
            <label>Ingredients</label>
        </div>
        <a class='dropdown-button btn' href='#' data-activates='customSearch'>Custom Search</a>

        <!-- Dropdown Structure -->
        <ul id='customSearch' class='dropdown-content'>
            <li><a class="custom-search" id="containingAll">Containing All</a></li>
            <li><a class="custom-search" id="containingAll">Containing Any</a></li>
            @*<li><a class="custom-search" id="searchExact">Exact Matches</a></li>*@
            <li><a class="custom-search" id="whatYouHave">What You Have</a></li>
        </ul>

        <button class="btn btn-flat right" data-target="help">Help</button>
    </form>
</div>
<br />
<div id="searchResultHeader"></div>
<div id="searchResults"></div>

@* Modal for Help button *@
<div id="help" class="modal">
    <div class="modal-content">
        <h4>Custom Search</h4>
        <p>
            <span class="search-definition">Containing All</span> - Drinks containing all of the specified ingredients will match, including recipes with ingredients not specified.
        </p>
        <p>
            <span class="search-definition">Containing Any</span> - Drinks containing any of the specified ingredients will match, including recipes with ingredients not specified.
        </p>
        @*<p>
            <span class="search-definition">Exact Match</span> - Only drinks containing all the specified ingredients will match. Even ice cubes must be specified!
        </p>*@
        <p>
            <span class="search-definition">What You Have</span> - Drinks containing some or all specified ingredients will match.
        </p>
        <br />
        <h4>General Help</h4>
        <p>Drinks, ingredients, and recipes on ADDb are listed in very specific and not always logical ways. Our search algorithm will try to include equivilalent ingredients but may not catch everything. If you need help identifying ingredients or locating a recipe you think is missing from your results, use the search bar at the top of the page.</p>
        <p>To help you retrieve more useful results common ingredients will be included in your search, such as ice cubes, simple syrup, bitters, and soda water, as well as typical garnishes such as lemon, lime, or cherries.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
    </div>
</div>

@* Activate search *@
<script>
    $(document).ready(function () {
        $(".custom-search").click(function () {
            
            var searchTypeInput = $(this).attr('id');

            $("#searchResultHeader").html('<div class="progress"><div class="indeterminate"></div></div>');
            $("#searchResults").empty();

            // Collect form inputs
            var selectedIngredients = [];
            $('#baseSpirits option:selected').each(function () {
                selectedIngredients.push($(this).val());
            });
            $('#ingredients option:selected').each(function () {
                selectedIngredients.push($(this).val());
            });

            // Send search request to controller/model
            $.ajax({
                url: "/Drinks/SearchCustom",
                traditional: true,
                data: { ingredients: selectedIngredients, searchType: searchTypeInput },
                success: function (drinkListPartial) {
                    // Display results
                    $("#searchResultHeader").empty();
                    $("#searchResults").html(drinkListPartial);
                }
            })
        })
    });
</script>