a.brand-logo {
    color: #616161; /*text-grey, text-darken-2*/ 
}

nav ul li a{
    color: #616161; /*text-grey, text-darken-2*/ 
}

h3 {
    color: #616161; /*text-grey, text-darken-2*/ 
}

@media only screen and (min-width: 992px) {
    a.brand-logo {
        padding-left: 20px;
    }

}

@media only screen and (max-width: 992px) {

}

.parallax img{
    height: auto;
    max-width: 100%;
}

/* Make footer sticky */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}