/* #616161 text-grey, text-darken-2*/ 


/* _Layout & Navbar */

@media only screen and (min-width: 769px) {
    a.brand-logo {
        padding-left: 20px;
    }
    
    .parallax img {
        height: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .parallax img {
        height: auto;
        max-width: 200%;
    }
}
a.brand-logo {
    color: #616161;
}

nav ul li a{
    color: #616161;
}

.parallax-container {
    height: 350px;
}


/* Home - Index */

#title {
    font-weight: 400;
} 

#sub-title {
    font-weight: 300;
}

#call-to-action {
    text-align: center;
}

#search {
    display: none;
    margin-bottom: 0px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}


/* Footer - Make it sticky */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* Drinks - Custom Search */

.search-definition {
    font-weight: 500;
}